.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #188212;
  font-size: 7rem;
  font-family: "Courier New", Courier, monospace;
}

#start-button {
  padding: 5px 10px;
  font-size: 2rem;
  border-radius: 20px;
  margin: 70px;
}

#game-display {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 40px;
  color: #333;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #2530c056;
}

#grid {
  width: 600px;
  height: 600px;
}

#grid div.leftcar1 {
  background-image: url("/assets/leftcar1.png");
  background-size: contain;
}

#grid div.leftcar2 {
  background-image: url("/assets/leftcar2.png");
  background-size: contain;
}

#grid div.leftcar3 {
  background-image: url("/assets/leftcar3.png");
  background-size: contain;
}

#grid div.rightcar1 {
  background-image: url("/assets/rightcar1.png");
  background-size: contain;
}

#grid div.rightcar2 {
  background-image: url("/assets/rightcar2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#grid div.leftcrab {
  background-image: url("/assets/leftcrab.png");
  background-size: contain;
}

#grid div.leftfish {
  background-image: url("/assets/leftfish.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#grid div.rightlog {
  background-image: url("/assets/rightlog.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.saferow {
  background-color: #4b0082;
}

.road {
  background-color: #3d3c3e;
}

.river {
  background-color: #91b1e8;
}

.home {
  background-color: #188212;
}

#grid div.frog {
  background-image: url("/assets/frog.png");
  background-size: contain;
}
